<div
  class="fixed inset-0 flex items-center justify-center z-50 overflow-auto bg-gray-800 bg-opacity-75"
>
  <div class="event-popup bg-white p-4 rounded shadow-lg">
    <div *ngIf="!selectedEvent">
      <ul class="mb-4">
        <li
          *ngFor="let event of this.data.events"
          (click)="selectEvent(event)"
          class="cursor-pointer"
        >
          {{ event.title }}
        </li>
      </ul>
      <button
        type="submit"
        class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
        (click)="newEvent()"
      >
        New Event
      </button>
    </div>
    <div *ngIf="selectedEvent">
      <h2 class="text-lg font-bold mb-4">Event</h2>
      <form (ngSubmit)="onSubmit()" class="space-y-4">
        <div>
          <label for="title" class="block">Title:</label>
          <input
            type="text"
            id="title"
            [(ngModel)]="title"
            name="title"
            required
            class="block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
          />
        </div>
        <div>
          <label for="description" class="block">Description:</label>
          <textarea
            id="description"
            [(ngModel)]="description"
            name="description"
            rows="4"
            required
            class="block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
          ></textarea>
        </div>
        <div>
          <label for="image" class="block">Image:</label>
          <input
            type="file"
            id="image"
            (change)="onFileSelected($event)"
            class="block"
          />
        </div>
        <div>
          <label for="fee" class="block">Fee:</label>
          <input
            type="number"
            id="fee"
            [(ngModel)]="fee"
            name="fee"
            required
            class="block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
          />
        </div>
        <div>
          <label>
            <input
              type="checkbox"
              [(ngModel)]="isHoliday"
              name="isHoliday"
              class="mr-2"
            />
            Is Holiday
          </label>
        </div>
        <div class="flex grid grid-cols-2 gap-4">
          <button
            type="button"
            (click)="goBackToList()"
            class="secondary px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
          >
            Back
          </button>
          <button
            type="submit"
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
