<div class="calendar">
  <div class="flex gap-2 pl-4 pt-2">
    <button (click)="download()"><mat-icon>download</mat-icon></button>
    <!-- <button (click)="openBgSelector()"><mat-icon>image</mat-icon></button> -->
  </div>
  <div class="p-4" id="myCalendar">
    <div class="header bg-gray-200 p-4 flex justify-between items-center">
      <button class="text-gray-600" (click)="goToPreviousMonth()">前</button>
      <span class="text-lg font-bold"
        >{{ currentYear }}年 {{ currentMonth + 1 }}月</span
      >
      <button class="text-gray-600" (click)="goToNextMonth()">次</button>
    </div>

    <div class="grid grid-cols-7 gap-2 mt-4">
      <div
        *ngFor="let day of ['日', '月', '火', '水', '木', '金', '土']"
        class="text-center font-bold"
      >
        {{ day }}
      </div>
      <ng-container *ngFor="let week of generateCalendar()">
        <div
          *ngFor="let day of week"
          class="flex-1 border p-2 text-center cursor-pointer"
          (click)="onSelectDate(day)"
          [ngClass]="getBackgroundColor(day)"
        >
          <ng-container *ngIf="day">
            {{ day.getDate() }}
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
